<section>
    <br>
    <div>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <div class="container">
            <div id="user-profile-2" class="user-profile">
                <div class="tabbable">
                    <ul class="nav nav-tabs padding-18">
                        <li class="active">
                            <a data-toggle="tab" href="#home">
                                <i class="green ace-icon fa fa-user bigger-120"></i> Profile
                            </a>
                        </li>

                        <li>
                            <a data-toggle="tab" href="#feed">
                                <i class="orange ace-icon fa fa-rss bigger-120"></i> review
                            </a>
                        </li>

                        <li>
                            <a data-toggle="tab" href="#friends">
                                <i class="blue ace-icon fa fa-users bigger-120"></i> Timeline
                            </a>
                        </li>

                        <li>
                            <a data-toggle="tab" href="#pictures">
                                <i class="pink ace-icon fa fa-picture-o bigger-120"></i> schedual
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content no-border padding-24">
                        <div id="home" class="tab-pane in active">
                            <div class="container bootstrap snippets bootdey">
                                <div class="panel-body inf-content">
                                    <div class="row p-4">
                                        <div class="col-md-4">
                                            <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip" src="https://bootdey.com/img/Content/avatar/avatar7.png" data-original-title="Usuario">
                                            <ul title="Ratings" class="list-inline ratings text-center">
                                                <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                                                <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                                                <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                                                <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                                                <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="">
                                                <strong>Information</strong>
                                                <button class="btn btn-danger float-end">Edit</button>
                                            </div>
                                            <br>
                                            <div class="table-responsive">
                                                <table class="table table-user-information">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <strong>
                                                            <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                                            Identificacion
                                                        </strong>
                                                            </td>
                                                            <td class="text-primary">
                                                                123456789
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <strong>
                                                            <span class="glyphicon glyphicon-user  text-primary"></span>
                                                            Name
                                                        </strong>
                                                            </td>
                                                            <td class="text-primary">
                                                                Bootdey
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <strong>
                                                            <span class="glyphicon glyphicon-cloud text-primary"></span>
                                                            Lastname
                                                        </strong>
                                                            </td>
                                                            <td class="text-primary">
                                                                Bootstrap
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                <strong>
                                                            <span class="glyphicon glyphicon-bookmark text-primary"></span>
                                                            Username
                                                        </strong>
                                                            </td>
                                                            <td class="text-primary">
                                                                bootnipets
                                                            </td>
                                                        </tr>


                                                        <tr>
                                                            <td>
                                                                <strong>
                                                            <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                                            Role
                                                        </strong>
                                                            </td>
                                                            <td class="text-primary">
                                                                Admin
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <strong>
                                                            <span class="glyphicon glyphicon-envelope text-primary"></span>
                                                            Email
                                                        </strong>
                                                            </td>
                                                            <td class="text-primary">
                                                                noreply@email.com
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <strong>
                                                            <span class="glyphicon glyphicon-calendar text-primary"></span>
                                                            created
                                                        </strong>
                                                            </td>
                                                            <td class="text-primary">
                                                                20 jul 20014
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <strong>
                                                            <span class="glyphicon glyphicon-calendar text-primary"></span>
                                                            Modified
                                                        </strong>
                                                            </td>
                                                            <td class="text-primary">
                                                                20 jul 20014 20:00:00
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /#home -->

                        <div id="feed" class="tab-pane">
                            <div class="profile-feed row">
                                <div class="col-sm-6">
                                    <div class="profile-activity clearfix">
                                        <div>
                                            <img class="pull-left" alt="Alex Doe's avatar" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                                            <a class="user" href="#"> Alex Doe </a> changed his profile photo.
                                            <a href="#">Take a look</a>

                                            <div class="time">
                                                <i class="ace-icon fa fa-clock-o bigger-110"></i> an hour ago
                                            </div>
                                        </div>

                                        <div class="tools action-buttons">
                                            <a href="#" class="blue">
                                                <i class="ace-icon fa fa-pencil bigger-125"></i>
                                            </a>

                                            <a href="#" class="red">
                                                <i class="ace-icon fa fa-times bigger-125"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="profile-activity clearfix">
                                        <div>
                                            <img class="pull-left" alt="Susan Smith's avatar" src="https://bootdey.com/img/Content/avatar/avatar2.png">
                                            <a class="user" href="#"> Susan Smith </a> is now friends with Alex Doe.
                                            <div class="time">
                                                <i class="ace-icon fa fa-clock-o bigger-110"></i> 2 hours ago
                                            </div>
                                        </div>

                                        <div class="tools action-buttons">
                                            <a href="#" class="blue">
                                                <i class="ace-icon fa fa-pencil bigger-125"></i>
                                            </a>

                                            <a href="#" class="red">
                                                <i class="ace-icon fa fa-times bigger-125"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="profile-activity clearfix">
                                        <div>
                                            <i class="pull-left thumbicon fa fa-check btn-success no-hover"></i>
                                            <a class="user" href="#"> Alex Doe </a> joined
                                            <a href="#">Country Music</a> group.
                                            <div class="time">
                                                <i class="ace-icon fa fa-clock-o bigger-110"></i> 5 hours ago
                                            </div>
                                        </div>

                                        <div class="tools action-buttons">
                                            <a href="#" class="blue">
                                                <i class="ace-icon fa fa-pencil bigger-125"></i>
                                            </a>

                                            <a href="#" class="red">
                                                <i class="ace-icon fa fa-times bigger-125"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="profile-activity clearfix">
                                        <div>
                                            <i class="pull-left thumbicon fa fa-picture-o btn-info no-hover"></i>
                                            <a class="user" href="#"> Alex Doe </a> uploaded a new photo.
                                            <a href="#">Take a look</a>

                                            <div class="time">
                                                <i class="ace-icon fa fa-clock-o bigger-110"></i> 5 hours ago
                                            </div>
                                        </div>

                                        <div class="tools action-buttons">
                                            <a href="#" class="blue">
                                                <i class="ace-icon fa fa-pencil bigger-125"></i>
                                            </a>

                                            <a href="#" class="red">
                                                <i class="ace-icon fa fa-times bigger-125"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="profile-activity clearfix">
                                        <div>
                                            <img class="pull-left" alt="David Palms's avatar" src="https://bootdey.com/img/Content/avatar/avatar3.png">
                                            <a class="user" href="#"> David Palms </a> left a comment on Alex's wall.
                                            <div class="time">
                                                <i class="ace-icon fa fa-clock-o bigger-110"></i> 8 hours ago
                                            </div>
                                        </div>

                                        <div class="tools action-buttons">
                                            <a href="#" class="blue">
                                                <i class="ace-icon fa fa-pencil bigger-125"></i>
                                            </a>

                                            <a href="#" class="red">
                                                <i class="ace-icon fa fa-times bigger-125"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.col -->

                                <div class="col-sm-6">
                                    <div class="profile-activity clearfix">
                                        <div>
                                            <i class="pull-left thumbicon fa fa-pencil-square-o btn-pink no-hover"></i>
                                            <a class="user" href="#"> Alex Doe </a> published a new blog post.
                                            <a href="#">Read now</a>

                                            <div class="time">
                                                <i class="ace-icon fa fa-clock-o bigger-110"></i> 11 hours ago
                                            </div>
                                        </div>

                                        <div class="tools action-buttons">
                                            <a href="#" class="blue">
                                                <i class="ace-icon fa fa-pencil bigger-125"></i>
                                            </a>

                                            <a href="#" class="red">
                                                <i class="ace-icon fa fa-times bigger-125"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="profile-activity clearfix">
                                        <div>
                                            <img class="pull-left" alt="Alex Doe's avatar" src="https://bootdey.com/img/Content/avatar/avatar4.png">
                                            <a class="user" href="#"> Alex Doe </a> upgraded his skills.
                                            <div class="time">
                                                <i class="ace-icon fa fa-clock-o bigger-110"></i> 12 hours ago
                                            </div>
                                        </div>

                                        <div class="tools action-buttons">
                                            <a href="#" class="blue">
                                                <i class="ace-icon fa fa-pencil bigger-125"></i>
                                            </a>

                                            <a href="#" class="red">
                                                <i class="ace-icon fa fa-times bigger-125"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="profile-activity clearfix">
                                        <div>
                                            <i class="pull-left thumbicon fa fa-key btn-info no-hover"></i>
                                            <a class="user" href="#"> Alex Doe </a> logged in.
                                            <div class="time">
                                                <i class="ace-icon fa fa-clock-o bigger-110"></i> 12 hours ago
                                            </div>
                                        </div>

                                        <div class="tools action-buttons">
                                            <a href="#" class="blue">
                                                <i class="ace-icon fa fa-pencil bigger-125"></i>
                                            </a>

                                            <a href="#" class="red">
                                                <i class="ace-icon fa fa-times bigger-125"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="profile-activity clearfix">
                                        <div>
                                            <i class="pull-left thumbicon fa fa-power-off btn-inverse no-hover"></i>
                                            <a class="user" href="#"> Alex Doe </a> logged out.
                                            <div class="time">
                                                <i class="ace-icon fa fa-clock-o bigger-110"></i> 16 hours ago
                                            </div>
                                        </div>

                                        <div class="tools action-buttons">
                                            <a href="#" class="blue">
                                                <i class="ace-icon fa fa-pencil bigger-125"></i>
                                            </a>

                                            <a href="#" class="red">
                                                <i class="ace-icon fa fa-times bigger-125"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="profile-activity clearfix">
                                        <div>
                                            <i class="pull-left thumbicon fa fa-key btn-info no-hover"></i>
                                            <a class="user" href="#"> Alex Doe </a> logged in.
                                            <div class="time">
                                                <i class="ace-icon fa fa-clock-o bigger-110"></i> 16 hours ago
                                            </div>
                                        </div>

                                        <div class="tools action-buttons">
                                            <a href="#" class="blue">
                                                <i class="ace-icon fa fa-pencil bigger-125"></i>
                                            </a>

                                            <a href="#" class="red">
                                                <i class="ace-icon fa fa-times bigger-125"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->

                            <div class="space-12"></div>

                            <div class="center">
                                <button type="button" class="btn btn-sm btn-primary btn-white btn-round">
              <i class="ace-icon fa fa-rss bigger-150 middle orange2"></i>
              <span class="bigger-110">View more activities</span>

              <i class="icon-on-right ace-icon fa fa-arrow-right"></i>
            </button>
                            </div>
                        </div>
                        <!-- /#feed -->

                        <div id="friends" class="tab-pane">
                            <div class="row">

                                <div class="col-sm-6 mb-5">
                                    <input class="form-control" type="date" placeholder="Enter Day">
                                </div>

                                <div class="col-sm-6 mb-5">
                                    <input class="form-control" type="datetime" placeholder="Time">
                                </div>
                            </div>
                            <button class="btn btn-primary text-center">Add</button>
                            <br>
                            <br>
                            <div class="container">
                                <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">Days<span class="">Time</span></li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">Mon-Wen <span class="">12:00 PM -7:00 PM</span></li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">Fri <span class="">1:00 PM - 9:00 PM</span></li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">Sat <span class="">3:00 PM - 10:00 PM</span></li>


                                </ul>
                            </div>
                        </div>
                        <!-- /#friends -->

                        <div id="pictures" class="tab-pane">
                            <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
                            <div class="container bootdey">
                                <div class="panel panel-default panel-order">
                                    <!-- <div class="panel-heading">
                                        <strong>Order history</strong>
                                        <div class="btn-group pull-right">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">Filter history <i class="fa fa-filter"></i></button>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li><a href="#">Approved orders</a></li>
                                                    <li><a href="#">Pending orders</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div> -->

                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-1"><img src="https://bootdey.com/img/Content/user_3.jpg" class="media-object img-thumbnail" /></div>
                                            <div class="col-md-11">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="pull-right"><label class="badge  text-light bg-danger">rejected</label></div>
                                                        <span><strong>Ahmed Hossam</strong></span> <span class="label label-info"></span><br /> Date : 05/31/2014, Time: 7:00PM <br />
                                                        <!-- <a data-placement="top" class="btn btn-success btn-xs glyphicon glyphicon-ok" href="#" title="View"></a>
                                                        <a data-placement="top" class="btn btn-danger btn-xs glyphicon glyphicon-trash" href="#" title="Danger"></a>
                                                        <a data-placement="top" class="btn btn-info btn-xs glyphicon glyphicon-usd" href="#" title="Danger"></a> -->

                                                        <br>
                                                        <br>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-1"><img src="https://bootdey.com/img/Content/user_1.jpg" class="media-object img-thumbnail" /></div>
                                            <div class="col-md-11">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="pull-right"><label class="badge  text-light bg-success">Accept</label></div>
                                                        <span><strong>Ahmed Hossam</strong></span> <span class="label label-info"></span><br /> Date : 05/31/2014, Time: 7:00PM <br />
                                                        <!-- <a data-placement="top" class="btn btn-success btn-xs glyphicon glyphicon-ok" href="#" title="View"></a>
                                                    <a data-placement="top" class="btn btn-danger btn-xs glyphicon glyphicon-trash" href="#" title="Danger"></a>
                                                    <a data-placement="top" class="btn btn-info btn-xs glyphicon glyphicon-usd" href="#" title="Danger"></a> -->

                                                        <br>
                                                        <br>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-1"><img src="https://bootdey.com/img/Content/user_3.jpg" class="media-object img-thumbnail" /></div>
                                            <div class="col-md-11">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="pull-right"><label class="badge  text-light bg-primary">cancle</label></div>
                                                        <span><strong>Ahmed Hossam</strong></span> <span class="label label-info"></span><br /> Date : 05/31/2014, Time: 7:00PM <br />
                                                        <!-- <a data-placement="top" class="btn btn-success btn-xs glyphicon glyphicon-ok" href="#" title="View"></a>
                                                    <a data-placement="top" class="btn btn-danger btn-xs glyphicon glyphicon-trash" href="#" title="Danger"></a>
                                                    <a data-placement="top" class="btn btn-info btn-xs glyphicon glyphicon-usd" href="#" title="Danger"></a> -->

                                                        <br>
                                                        <br>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-1"><img src="https://bootdey.com/img/Content/user_2.jpg" class="media-object img-thumbnail" /></div>
                                            <div class="col-md-11">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="pull-right"><label class="badge text-light bg-success">Accept</label></div>
                                                        <span><strong>Ahmed Hossam</strong></span> <span class="label label-info"></span><br /> Date : 05/31/2014, Time: 7:00PM <br />
                                                        <!-- <a data-placement="top" class="btn btn-success btn-xs glyphicon glyphicon-ok" href="#" title="View"></a>
                                                    <a data-placement="top" class="btn btn-danger btn-xs glyphicon glyphicon-trash" href="#" title="Danger"></a>
                                                    <a data-placement="top" class="btn btn-info btn-xs glyphicon glyphicon-usd" href="#" title="Danger"></a> -->

                                                        <br>
                                                        <br>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /#pictures -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
