<section class="container-fluid mt-5 pt-5">

    <div class=" column d-flex px-4 mt-4">
        <div>
            <h1>Caring For The Health And Well Being Of You And Your Family.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non sem lectus varius dapibus id blandit lacus. Sed odio est,</p>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Aenean et pellentes lacus. varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus Curabitur sed venenatis massa,</p>
        </div>
    </div>
    <div class="row d-flex justify-content-center py-3 widget-image">
        <span class="fa-solid fa-stethoscope col-xl-2 col-lg-2 col-md-4 col-sm-4  px-5 fa-4x">
              <h5>Medical Advices & Check Ups</h5>
          </span>
        <span class="fa-solid fa-pills col-xl-2 col-lg-2 col-md-4 col-sm-4  px-5 fa-4x">
              <h5>Trusted Medical Treatment</h5>
          </span>
        <span class="fa-solid fa-user-doctor col-xl-2 col-lg-2 col-md-4 col-sm-4  px-5 fa-4x">
              <h5>Emergency Help Available</h5>
          </span>
        <span class="fa-solid fa-truck-medical col-xl-2 col-lg-2 col-md-4 col-sm-4  px-5 fa-4x">
              <h5>Emergency Help Available</h5>
          </span>
        <span class="fa-solid fa-microscope col-xl-2 col-lg-2 col-md-4 col-sm-4  px-5 fa-4x">
              <h5>Medical Research</h5>
          </span>

    </div>
    <div class="container bootdey">
        <div class="row justify-content-center flex-row ">
            <div class="text-center m-5">
                <h4>OUR BEST DENTAL SERVICES</h4>
                <h1>Amazing Services</h1>
            </div>
            <div class="col-md-4 col-sm-6 p-2">
                <div class="widget-image">
                    <div class="contact-card-2">
                        <div class="cover-bg">
                            <img src="assets/Img/service-1.jpg" class="rounded w-100   " alt="...">
                        </div>
                        <div class="widget-body">
                            <div class="cover-image mx-auto">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="..." class=" rounded-circle mx-auto">
                            </div>
                            <h4 class="name">Oral Surgery</h4>
                            <div class="job">Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet. diam,
                                vitae aliquet</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 p-2">
                <div class="widget-image ">
                    <div class="contact-card-2">
                        <div class="cover-bg">
                            <img src="assets/Img/service-1.jpg" class="img-fluid image" alt="...">
                        </div>
                        <div class="widget-body">
                            <div class="cover-image mx-auto">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="..." class="rounded-circle mx-auto">
                            </div>
                            <h4 class="name">Oral Surgery</h4>
                            <div class="job">Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet. diam,
                                vitae aliquet</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-sm-6 p-2">
                <div class="widget-image ">
                    <div class="contact-card-2">
                        <div class="cover-bg">
                            <img src="assets/Img/service-1.jpg" class="img-fluid image" alt="...">
                        </div>
                        <div class="widget-body">
                            <div class="cover-image mx-auto">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="..." class="rounded-circle mx-auto">
                            </div>
                            <h4 class="name">Oral Surgery</h4>
                            <div class="job">Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet. diam,
                                vitae aliquet</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-sm-6 p-2">
                <div class="widget-image ">
                    <div class="contact-card-2">
                        <div class="cover-bg">
                            <img src="assets/Img/service-1.jpg" class="img-fluid image" alt="...">
                        </div>
                        <div class="widget-body">
                            <div class="cover-image mx-auto">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="..." class="rounded-circle mx-auto">
                            </div>
                            <h4 class="name">Oral Surgery</h4>
                            <div class="job">Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet. diam,
                                vitae aliquet</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-sm-6 p-2">
                <div class="widget-image ">
                    <div class="contact-card-2">
                        <div class="cover-bg">
                            <img src="assets/Img/service-1.jpg" class="img-fluid image" alt="...">
                        </div>
                        <div class="widget-body">
                            <div class="cover-image mx-auto">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="..." class="rounded-circle mx-auto">
                            </div>
                            <h4 class="name">Oral Surgery</h4>
                            <div class="job">Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet. diam,
                                vitae aliquet</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



























    </div>
    <div class="row bootstrap snippets bootdeys _Review  ">
        <div class="transbox ">
            <div class="col-md-9 col-sm-12">
                <div class="comment-wrapper ">
                    <div class="panel panel-info">
                        <div class="panel-heading m-5">
                            <h1> Real Review From Our Real Customer</h1>
                        </div>

                        <textarea class="form-control" placeholder="write a Review..." rows="3"></textarea>
                        <button type="button" class="btn  pull-right text-info  btn-light fw-bold fs-4">Post</button>

                        <div class="panel-body ">
                            <div class="clearfix"></div>
                            <hr>
                            <ul class="media-list ">
                                <li class="media">
                                    <a href="#" class="pull-left">
                                        <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                                    </a>
                                    <span class="text-muted  pull-right">
                                      <strong >  MartinoMont</strong>
                              </span>

                                    <div class="media-body">
                                        <small class="text-muted ">30 min ago</small>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet.
                                        </p>
                                    </div>
                                </li>
                                <li class="media">
                                    <a href="#" class="pull-left">
                                        <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                                    </a>
                                    <span class="text-muted  pull-right">
                                  <strong >  MartinoMont</strong>
                          </span>

                                    <div class="media-body">
                                        <small class="text-muted ">30 min ago</small>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet.
                                        </p>
                                    </div>
                                </li>
                                <li class="media">
                                    <a href="#" class="pull-left">
                                        <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                                    </a>
                                    <span class="text-muted  pull-right">
                                  <strong > MartinoMont</strong>
                              </span>

                                    <div class="media-body">
                                        <small class="text-muted ">30 min ago</small>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet.
                                        </p>
                                    </div>
                                </li>
                                <li class="media">
                                    <a href="#" class="pull-left">
                                        <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                                    </a>
                                    <span class="text-muted  pull-right">
                                  <strong class="text-primary">  MartinoMont</strong>
                              </span>

                                    <div class="media-body">
                                        <small class="text-muted ">30 min ago</small>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet.
                                        </p>
                                    </div>
                                </li>
                                <li class="media">
                                    <a href="#" class="pull-left">
                                        <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                                    </a>
                                    <strong class="text-success"> @MartinoMont</strong>
                                    <div class="media-body">
                                        <span class="text-muted pull-right">
                                      <small class="text-muted">30 min ago</small>
                                  </span>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, <a href="#">#consecteturadipiscing </a>.
                                        </p>
                                    </div>
                                </li>
                                <li class="media">
                                    <a href="#" class="pull-left">
                                        <img src="https://bootdey.com/img/Content/user_2.jpg" alt="" class="img-circle">
                                    </a>
                                    <strong class="text-success">@LaurenceCorreil</strong>
                                    <div class="media-body">
                                        <span class="text-muted pull-right">
                                      <small class="text-muted">30 min ago</small>
                                  </span>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor <a href="#">#ipsumdolor </a>adipiscing elit.
                                        </p>
                                    </div>
                                </li>
                                <li class="media">
                                    <a href="#" class="pull-left">
                                        <img src="https://bootdey.com/img/Content/user_3.jpg" alt="" class="img-circle">
                                    </a>
                                    <strong class="text-success">@JohnNida</strong>
                                    <div class="media-body">
                                        <span class="text-muted pull-right">
                                      <small class="text-muted">30 min ago</small>
                                  </span>
                                        <p>
                                            Lorem ipsum dolor <a href="#">#sitamet</a> sit amet, consectetur adipiscing elit.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
