<section>

    <br>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
    <div class="container">
        <div class="team-single">
            <div class="row">


                <div class="col-lg-8 col-md-7">
                    <div class="team-single-text padding-50px-left sm-no-padding-left">

                        <div class=" ">
                            <!-- <button class="btn btn-primary  float-مثبف ">احجز موعد</button> -->

                            <h4 class="font-size38 float-right sm-font-size32 xs-font-size30 ">{{docInfo.department}}</h4>
                        </div>
                        <br>
                        <div class="contact-info-section margin-40px-tb">
                            <ul class="list-style9 no-margin">
                                <li>

                                    <div class="row">
                                        <div class="col-md-7 col-7">
                                            <p>{{docInfo.doctorDegree}}</p>
                                        </div>
                                        <div class="col-md-5 col-5">
                                            <strong class="margin-10px-left text-orange"> : المؤهل التعليمى</strong>
                                            <i class="fas fa-graduation-cap text-orange"></i>

                                        </div>

                                    </div>

                                </li>
                                <li>

                                    <div class="row">
                                        <div class="col-md-7 col-7">
                                            <p>{{docInfo.doctorExperience}}</p>
                                        </div>
                                        <div class="col-md-5 col-5">
                                            <strong class="margin-10px-left text-yellow"> : الخبرة</strong>
                                            <i class="far fa-gem text-yellow"></i>

                                        </div>

                                    </div>

                                </li>

                                <li>

                                    <div class="row">
                                        <div class="col-md-7 col-7">
                                            <p>{{docInfo.doctorPhone}}</p>
                                        </div>
                                        <div class="col-md-5 col-5">
                                            <strong class="margin-10px-left xs-margin-four-left text-purple"> : رقم الهاتف </strong>
                                            <i class="fas fa-mobile-alt text-purple"></i>

                                        </div>

                                    </div>

                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-md-7 col-7">
                                            <p> {{docInfo.doctorEmail}} </p>
                                        </div>
                                        <div class="col-md-5 col-5">
                                            <strong class="margin-10px-left xs-margin-four-left text-pink"> : البريد الإلكترونى</strong>
                                            <i class="fas fa-envelope text-pink"></i>

                                        </div>

                                    </div>
                                </li>
                            </ul>
                        </div>




                    </div>
                </div>
                <div class="col-lg-4 col-md-5 xs-margin-30px-bottom">

                    <div class="bg-light-gray padding-30px-all md-padding-25px-all sm-padding-20px-all text-center">
                        <h4 class="margin-10px-bottom font-size24 md-font-size22 sm-font-size20 font-weight-600">د/ {{docInfo.doctorName}}</h4>
                        <p class="sm-width-95 sm-margin-auto"> {{docInfo.doctorDescription}}</p>

                    </div>
                </div>
            </div>
            <div>
                <h2>جدول المواعيد</h2>
                <div class="">
                    <div class="card text-white bg-secondary mb-3">
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Sunday-Wednsday
                                    <span class="">10:00AM - 11:00 PM</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Friday
                                    <span class=" ">8:00PM-10:00PM</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Saturday
                                    <span class="">12:00 PM -5:00PM </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
