<section class="">
    <div class="bg-image p-5 text-center d-flex shadow-1-strong rounded mb-5 text-white bb align-items-center">
        <div class="container text-center ">

            <h1 class="title" style="color: white;">اطباء</h1>
        </div>
    </div>
    <br>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class=" container-fluid my-5">
        <div class="row justify-content-center">
            <div *ngFor="let data of InfoDoctor" class="content my-5  col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="firstinfo">
                        <div class="profileinfo">
                            <h1>{{data.doctorName}}</h1>
                            <h3>{{data.department}}</h3>
                            <p>{{data.doctorDescription}}</p>
                        </div>
                        <button class="btn btn-primary" (click)="docInfo(data.doctorID)"> -></button>
                    </div>
                </div>

            </div>
        </div>
    </div>



</section>
