<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<section class=" mt-4 my-5 pt-5">
    <br>
    <div class="bg-image p-5 text-center d-flex shadow-1-strong rounded mb-5 text-white bb align-items-center">
        <div class="container text-center ">

            <h1 class="title" style="color: white;">APPOINTMENT</h1>
        </div>
    </div>
    <div class=" row text-light ">
        <div class="bg-primary text-center col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 appoinmentDivS p-5">
            <h3 class="fw-bold">EMERGENCY CASES</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non sem et lectus varius dapibus id blandit lacus. Sed odio st, mattis ac cursus et,
            </p>
            <a href="#" class="text-light fa fa-phone fs-4"><Span class="text-light">011438555555</Span></a>
        </div>
        <div class="bg-info text-center col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 p-5">
            <h3 class="fw-bold">DOCTOR TIMETABLE</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non sem et lectus varius dapibus id blandit lacus. Sed odio st, mattis ac cursus et, </p>
            <button type="button" class="btn btn-primary  text-light center ">TimeTable</button>
        </div>
        <div class="bg-primary text-center col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 appoinmentDivE p-5">
            <h3 class="fw-bold">OPENING HOURS</h3>
            <div>
                <p>Monday 07.00 AM - 10.00 PM</p>
                <hr>
                <p>Friday 07.00 AM - 10.00 PM</p>
                <hr>
                <p>Saturday - Sunday close</p>
            </div>
        </div>
    </div>


    <div class="row d-flex text-center">
        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 col-xl-6">
            <form class="container row  gradient-brand-color pt-5 contact-form form-validate">
                <h1 class="text-primary fw-bolder mb-3">BOOK AN APPOINTMENT</h1>
                <p>To make an appointment with the provider or practice you came before, please call our office directly or fill out the form below</p>
                <div class="row">
                    <div class="col-sm-6 my-4">
                        <button class="btn btn-light text-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Choose Department
                      </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Department 1</a></li>
                            <li><a class="dropdown-item" href="#">Department 2</a></li>
                            <li><a class="dropdown-item" href="#">Department 3</a></li>
                            <li><a class="dropdown-item" href="#">Department 4</a></li>
                            <li><a class="dropdown-item" href="#">Department 5</a></li>

                        </ul>
                    </div>

                    <div class="col-sm-6 my-4  ">
                        <div class="dropdown">
                            <button class="btn btn-light text-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                              Choose Doctor
                        </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">Doctor 1</a></li>
                                <li><a class="dropdown-item" href="#">Doctor 2</a></li>
                                <li><a class="dropdown-item" href="#">Doctor 3</a></li>
                                <li><a class="dropdown-item" href="#">Doctor 4</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-6 mb-4">
                        <input class="form-control" type="text" placeholder="Your Name">
                    </div>

                    <div class="col-sm-6 mb-4">
                        <input class="form-control" type="tel" placeholder="Your Phone">
                    </div>

                    <div class="col-sm-6 mb-5">
                        <input class="form-control" type="email" placeholder="Your Email">
                    </div>

                    <div class="col-sm-6 mb-5">
                        <input class="form-control" type="date" placeholder="Your Date">
                    </div>

                    <div class="col-sm-12 mb-5">
                        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                          Make Appoinment
                        </button>
                    </div>

                </div>
            </form>
        </div>
        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-5 col-xl-5 ">
            <img class="w-75" src="../../../assets/images/appoint-book-img.jpg">
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm Your Appoinment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    Appoinment information
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

</section>
