<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<section class=" mt-4 my-5 pt-5">
    <br>
    <div class="bg-image p-5 text-center d-flex shadow-1-strong rounded mb-5 text-white bb align-items-center">
        <div class="container text-center ">

            <h1 class="title" style="color: white;">خدماتنا</h1>
        </div>
    </div>
    <div class=" row text-light ">
        <div class="bg-primary text-center col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 appoinmentDivS p-5">
            <h3 class="fw-bold">للحالات الطارئة</h3>
            <p>للحالات الطارئة يرجى الاتصال على الرقم</p>
            <a href="#" class="text-light fa fa-phone fs-4"><Span class="text-light">011438555555</Span></a>
        </div>
        <div class="bg-info text-center col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 p-5">
            <h3 class="fw-bold">اطبائنا</h3>
            <p>يمكنك الدخول من هنا لجدول اطبائنا</p>
            <button type="button" class="btn btn-primary  text-light center ">الجدول</button>
        </div>
        <div class="bg-primary text-center col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 appoinmentDivE p-5">
            <h3 class="fw-bold">ساعات العمل</h3>
            <div>
                <p> 07.00 AM - 10.00 PM الاتنين</p>
                <hr>
                <p> 07.00 AM - 10.00 PM الجمعة</p>
                <hr>
                <p>close الأحد - السبت </p>
            </div>
        </div>
    </div>


    <div class="row d-flex text-center">
        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 col-xl-6">
            <form #appForm="ngForm" (ngSubmit)="onSubmit(appForm)" class="container row  gradient-brand-color pt-5 contact-form form-validate">
                <h1 class="text-primary fw-bolder mb-3">حجز موعد</h1>
                <p>لحجز موعد يرجى الاتصال برقم العيادة او ملئ الاستمارة التالية : </p>
                <div class="row">
                    <div class="col-sm-12 my-4  ">
                        <div class="dropdown">
                            <select class="btn btn-light text-dark dropdown-toggle" type="button" name="doctorID" [(ngModel)]="Appointment.doctorID">
                              اختر الطبيب
                                <option *ngFor="let item of InfoDoctor"  [value]="item.doctorID" >{{item.doctorName}}
                                </option>

                            </select>
                        </div>
                    </div>

                    <div class="col-sm-6 mb-4">
                        <input class="form-control" type="text" placeholder="اسمك" name="clientName" [(ngModel)]="Appointment.clientName">
                    </div>

                    <div class="col-sm-6 mb-4">
                        <input class="form-control" type="tel" placeholder="رقم الهاتف" name="clientPhone" [(ngModel)]="Appointment.clientPhone">
                    </div>

                    <div class="col-sm-6 mb-5">
                        <input class="form-control" type="email" placeholder="البريد الإلكترونى" name="clientEmail" [(ngModel)]="Appointment.clientEmail">
                    </div>

                    <div class="col-sm-6 mb-5">
                        <input class="form-control" type="date" placeholder="التاريخ" name="dateAppointment" [(ngModel)]="Appointment.dateAppointment">
                    </div>

                    <div class="col-sm-12 mb-5">
                        <button type="submit" class="btn btn-primary">
                          احجز الموعد
                        </button>
                    </div>

                </div>
            </form>
        </div>
        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-5 col-xl-5 ">
            <img class="w-75" src="../../../assets/images/appoint-book-img.jpg">
        </div>
    </div>


    <!-- Modal -->
    <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm Your Appoinment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    Appoinment information
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div> -->

</section>
